{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>Calculate instagram Engagement</title>
    <style>
        .main__wrapper {
            display: flex;
            margin: 0px 30px;
        }
    </style>
</head>
<body>
<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
                 stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
                 viewBox="0 0 24 24">
                <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">IG Scraper</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
        </nav>
    </div>
</header>
<div class="main__wrapper">
    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
            <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Calculate Instagram
                    Engagement</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Consequuntur dolore dolorem illum ipsa natus nobis quas totam. Corporis dolore
                    recusandae reprehenderit.</p>
                {% if engagement %}
                    <br><br>
                    <h1 class="text-gray-600"><strong>
                         {{ username }} : <span>{{ engagement }} </span>
                    </strong>
                    </h1>
                {% endif %}
            </div>
            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <form action="" method="post">
                        {% csrf_token %}
                        <div class="flex gap-3" style="width:225%;">
                            {{ form.username }}
                            <button type="submit"
                                    class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                            >
                                Search
                            </button>
                        </div>
                    </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>